/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  line-height: 1.3;
  background-attachment: fixed;
  /* background: #000028; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading {
color: #DB00FF;
}

.header__heading {
font-weight: 700;
font-size: 157px;

text-shadow: 4px 4px #FF0070;
/* line-height: 83%; */

}
.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 23px;
}
